:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* header.js */
/* Using a container element can help isolate a group of elements and make it easier to apply styles to them as a group.  */
.header-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 14px 16px;
}

.header-left {
  float: left;
  width: 300px;
}

.header-left img {
  padding-top: 8px;
  height: 70px;
  margin-right: 10px;
}

.header-left h1 {
  float: right;
  --color: var(--primary);
  font-size: 45px;
  margin-right: 78px; 
}

.header-right {
  position: absolute;
  top: 14px;
  right: 16px;
}

.header-right button {
  font-weight: bold;
}